@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato-Regular.otf) format('truetype');
  }
  
  @font-face {
      font-family: 'Lato';
      font-weight: 900;
      src: local('Lato'), url(./fonts/Lato-Bold.otf) format('truetype');
  }
  
  @font-face {
      font-family: 'Lato';
      font-weight: 900;
      src: local('Lato'), url(./fonts/Lato-Black.otf) format('truetype');
  }

  @font-face {
    font-family: 'RobotoMono';
    src: local('Lato'), url(./fonts/RobotoMono-Regular.otf) format('truetype');
  }
  
  @font-face {
      font-family: 'Lato';
      font-weight: 900;
      src: local('Lato'), url(./fonts/RobotoMono-Bold.otf) format('truetype');
  }
  
  @font-face {
      font-family: 'Lato';
      font-weight: 900;
      src: local('Lato'), url(./fonts/RobotoMono-Medium.otf) format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/RobotoMono-SemiBold.ttf) format('truetype');
}